{% extends 'base.html' %}
{% load static %}


{% block title %}Nueva Asignatura — AulaClass{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_asignatura.css' %}">
{% endblock %}

{% block content %}
<div class="page">
  <h1>Nueva Asignatura</h1>
  <p class="hint">Crea una asignatura y asígnala a un curso específico.</p>

  <form method="post" class="form-card">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="actions">
      <button class="btn btn-prim" type="submit">Guardar</button>
      <a class="btn btn-secondary" href="{% url 'usuarios:asignatura_list' %}">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
