{% extends 'base.html' %}
{% block title %}Asignar docentes{% endblock %}
{% block content %}
<h1>Asignar docentes al curso: {{ curso }}</h1>
<form method="post">
  {% csrf_token %}
  {{ form.curso_id }} {# hidden #}
  {{ form.docentes.errors }}
  <div class="field">
    <label>{{ form.docentes.label }}</label>
    {{ form.docentes }}
  </div>
  <div class="actions">
    <button class="btn" type="submit">Guardar</button>
    <a class="link" href="{% url 'cursos_lista' %}">Cancelar</a>
  </div>
</form>
{% endblock %}
