{% extends "base.html" %}
{% load static %}

{% block title %}AulaTrack - Curso{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/curso.css' %}">
{% endblock %}

{% block topbar %}
<input class="search" placeholder="Buscar curso…" aria-label="Buscar" />
<button class="topCta">+ Nuevo curso (Solo Admin)</button>
{% endblock %}

{% block content %}
<h2 class="sectionTitle">{{ curso.año }} {{ curso.nombre }} - {{ curso.sala }}</h2>
<p class="hint">Aula X</p>

<div class="divider"></div>

<div class="curso-options">
  <div class="curso-card op-asistencia">
    <h3>Asistencia</h3>
    <p>Registro de Asistencia de alumnos</p>
   <a href="{% url 'asistencia' curso.id %}" class="cta">Entrar</a> 
  </div>

  <div class="curso-card op-notas">
    <h3>Notas</h3>
    <p>Calificaciones por asignatura</p>
    <a href="{% url 'notas' curso.id %}" class="cta" class="cta">Entrar</a>
  </div>

  <div class="curso-card op-anotaciones">
    <h3>Anotaciones</h3>
    <p>Observaciones y reportes de conducta</p>
    <a href="{% url 'anotaciones' %}" class="cta">Entrar</a>
  </div>

  <div class="curso-card op-reportes">
    <h3>Reportes (Solo Admin)</h3>
    <p>Exportar y estadísticas</p>
    <a href="{% url 'reportes' %}" class="cta">Entrar</a>
  </div>
</div>
{% endblock %}
