{% extends "base.html" %}
{% load static %}

{% block title %}AulaTrack - Reportes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reportes.css' %}">
{% endblock %}

{% block topbar %}
<button class="topCta">Exportar (CSV)</button>
{% endblock %}

{% block content %}
<h2 class="sectionTitle">Reportes (Solo Admin)</h2>
<p class="hint">Exportar y estadísticas</p>
<div class="divider"></div>


<div class="curso-options">
  <div class="curso-card op-reportes">
    <h3>Asistencia promedio</h3>
    <p>— %</p>
    <a href="#">Entrar</a>
  </div>
  <div class="curso-card op-reportes">
    <h3>Promedio general</h3>
    <p>—</p>
    <a href="#">Entrar</a>
  </div>
  <div class="curso-card op-reportes">
    <h3>Anotaciones registradas</h3>
    <p>—</p>
    <a href="#">Entrar</a>
  </div>
  <div class="curso-card op-reportes">
    <h3>Exportaciones recientes</h3>
    <p>—</p>
    <a href="#">Entrar</a>
  </div>
</div>
{% endblock %}
